// https://www.color-hex.com/color-palette/1051845
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

button {
    font-family: 'Montserrat';
    font-weight: 500;

    background-color: #e3d3a8;
    border-color: #ccb892;
    border-radius: 6px;
    height: 80px;
    width: 200px;

    .hour {
        font-size: 15px;
        margin: 0px 5px;
        font-weight: bold;
    }

    .rivals {
        font-size: 14px;
        margin: 0px 5px;
    }

    &:hover {
        box-shadow: 3px 3px 6px #8f856a;
    }

    &.is-booked {
        background-color: #f3f8f8;
        border-color: #d3edf1;
        pointer-events: none;
    }
}