<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
</style>

<main class="main">

  <Btn-day-hour-divider [minutesDivider]="15"></Btn-day-hour-divider>

  <div style="display: flex; flex-direction: column; gap: 5px;">
    @for (hour of hours; track $index) {
    <app-hour [hour]="hour.hour" [isBooked]="hour.isBooked"></app-hour>
    }
  </div>
</main>