<mat-form-field style="width: 100%;">

  <mat-label>Oponents</mat-label>

  <input type="text" placeholder="Selecciona oponent" aria-label="opponent" matInput [(ngModel)]="opponent"
    [matAutocomplete]="auto" cdkFocusInitial>

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
    @for (opponent of filteredOpponenets | async ; track opponent) {
    <mat-option [value]="opponent">
      <div class="opponent-info">
        <img src="https://github.com/romul6.png" />
        <span>
          {{opponent.name}}
        </span>
      </div>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>