<h2 mat-dialog-title>Selecciona una oponent</h2>

<mat-dialog-content>
  <p>Busca un oponent a la llista</p>
  <mat-form-field>
    <mat-label>Oponenets</mat-label>
    <mat-select [formControl]="toppings">

      @for (topping of toppingList; track topping) {
      <mat-option [value]="topping">{{topping}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="animal()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>