<div>
  <h2 mat-dialog-title>Selecciona jugador</h2>
</div>

<mat-dialog-content>
  <Btn-searcher (onOpponentSelected)="onOpponentSelected($event)">
  </Btn-searcher>

  <!-- @for (item of participants; track $index) {
      <p>{{item.name}}</p>
      } -->

  <Btn-vs [(team1)]="team1" [team2]="(team2)" [max4Team]="2"></Btn-vs>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSave()" mat-dialog-close>Guardar</button>
</mat-dialog-actions>