<div class="row justify-content-md-between justify-content-center text-center mx-0">

  <div class="col-md-5 team">
    <h3>Equip 1</h3>
    <div cdkDropList #t1="cdkDropList" [cdkDropListData]="team1()" [cdkDropListConnectedTo]="[t2]" class="example-list"
      (cdkDropListDropped)="drop($event)" class="participants">
      @for (item of team1(); track item) {
      <div class="box" cdkDrag>
        {{item.name}}
        <!-- <mat-icon class="icon" (click)="onDeletePlayer(team1,item)">close</mat-icon> -->
      </div>
      }
    </div>

  </div>

  <div class="col-md-2 d-flex align-self-center justify-content-center my-4">
    <p class="vs">vs</p>
  </div>

  <div class="col-md-5 team">
    <h3>Equip 2</h3>

    <div cdkDropList #t2="cdkDropList" [cdkDropListData]="team2()" [cdkDropListConnectedTo]="[t1]" class="example-list"
      (cdkDropListDropped)="drop($event)" class="participants">
      @for (item of team2(); track item) {
      <div class="box" cdkDrag>
        {{item.name}}
        <!-- <mat-icon class="icon" (click)="onDeletePlayer(team2,item)">close</mat-icon> -->
      </div>
      }
    </div>

  </div>
</div>